html {
  /* scroll-snap-type: y mandatory; */
}

section {
  /* scroll-snap-align: start; */
  margin: 20rem;
}

.story {
    background: black;
}

.story .title-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.story .title-section .text {
  position: absolute;
  pointer-events: none;
  font-size: 3rem;
}

.story .img-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.story .img-wrapper {
  position: relative;
  /* width: 100vw; */
  height: 100vh;
  margin: 100px;
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.5));
  
  /* overflow: clip; */
}

.story .img-container img {
  max-width: 100%;
  height: 100vh;
  /* display: block; */
  object-fit: contain;
}

.story .img-container .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.story .img-container .img-overlay img {
  max-width: 100%;
  height: 100vh;
  /* display: block; */
  object-fit: contain;
}

.story .img-container .text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 0;
  left: 0;
  padding: 10px;
  background: url("@/assets/papyrus_sheet.jpg");
  border-radius: 0 0 24px 0;
  border: 3px solid gold;
}

.story .panel1 .wizard {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-110%, -20%); */
  width: auto;
  height: 450px;
}

.story .panel1 .quest {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: auto;
}

.story .panel1 .aladin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -20%);
    height: 450px;
    width: auto;
}

.story .panel2 .lamp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(90%, -90%);
    width: 125px;
    height: auto;
}

.story .panel2 .aladin {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: scalex(-1) translate(50%, -40%);
    width: 250px;
    height: auto;
}

.story .panel3 .aladin {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-100%, -40%);
    height: 650px;
    width: auto;
}

.story .panel3 .lamp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    width: 300px;
    height: auto;
}

.story .panel4 .aladin {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 0);
    width: 250px;
    height: auto;
}

.story .panel4 .princess {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -130%); */
    height: 200px;
    width: auto;
}

.story .panel5 .aladin {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-100%, -40%);
    height: 650px;
    width: auto;
}